apiVersion: v1
kind: Service
metadata:
  name: {{ include "github-rate-limit-checker.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "github-rate-limit-checker.labels" . | nindent 4 }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.service.port }}
    targetPort: {{ .Values.service.targetPort }}
    protocol: TCP
    name: {{ .Values.metrics.portName }}
  selector:
    {{- include "github-rate-limit-checker.selectorLabels" . | nindent 4 }}
